<a href="https://colab.research.google.com/github/ShrutiJain456/compute/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#q6
l_1 = []
l_2 = []
n1 = int(input("Enter  number of elements in list 1: "))
n2 = int(input("Enter  number of elements in list 2: "))
for i in range(n1):
    e1 = int(input("Enter the elements of list 1: "))
    l_1.append(e1)
for j in range(n2):
    e2 = int(input("Enter the elements of list 2: "))
    l_2.append(e2)
print(l_1)
print(l_2)

if l_1[-1] == l_2[-1]:
   print("last elements are same")
else:
   print("last elements are not same")

Enter  number of elements in list 1: 3
Enter  number of elements in list 2: 4
Enter the elements of list 1: 30
Enter the elements of list 1: 20
Enter the elements of list 1: 39
Enter the elements of list 2: 29
Enter the elements of list 2: 47
Enter the elements of list 2: 38
Enter the elements of list 2: 39
[30, 20, 39]
[29, 47, 38, 39]
last elements are same

In [2]:
#q7
row = int(input("enter no. of rows: "))
for i in range(row +1) :
  for j in range(i):
    print(i, end = '')
  print('')

enter no. of rows: 4

1
22
333
4444

In [3]:
#q1
N = 5
X = 3
s1 = [89, 90, 78, 93, 80]
s2 = [90, 91, 85, 88, 86]
s3 = [91, 92, 83, 89, 90.5]
z1 = zip(s1, s2, s3)
for (x) in z1:
  avg = sum(x)/len(x)
  print(avg)

90.0
91.0
82.0
90.0
85.5

In [5]:
#q5
def mutate_string(string, position, character):
    # Mutations in Python - HackerRank Solution START
    l = list(string)
    l[position] = character;
    string = ''.join(l)
    return string
if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

sprite
4 z
sprize

In [ ]:
#4
import re
def fun(s):
  pattern  = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-zA-Z]{1,3}$"
  result = re.match(pattern, s)
  return result

def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())
filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

2
shruti34@gmail.per
$#ruti@yahoo.com
['shruti34@gmail.per']

In [ ]:
#2 #doubt
if __name__ == '__main__':
    N = int(input())
    alist=[];
for i in range(0,N):
    aliste=input().split();
    if aliste[0] == "insert":   
        alist.insert(int(aliste[1]),int(aliste[2]))
    elif aliste[0] == "append":
        alist.append(int(aliste[1]))
    elif aliste[0] == "pop":
        alist.pop();
    elif aliste[0] == "print":
        print(alist)
    elif aliste[0] == "remove":
        alist.remove(int(aliste[1]))
    elif aliste[0] == "sort":
        alist.sort();
    else:
        alist.reverse();

In [1]:
#q3
if __name__ == '__main__':
    n = int(input("No. of students: "))
    student_mrks = {}
    for _ in range(n):
        line = input("Student name and marks scored: ").split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_mrks[name] = scores
    query_name = input("Student's name for avg marks calculation: ")
    mrks=0
for i in student_mrks[query_name]:
    mrks=mrks+i
avg=mrks/3
print("Avg marks %.2f"%avg)

No. of students: 3
Student name and marks scored: tisha 30 30 30
Student name and marks scored: aakshi 20 30 49
Student name and marks scored: dhruvv 20 39 48
Student's name for avg marks calculation: dhruvv
Avg marks 35.67